<!-- FOOTER -->
<footer itemscope itemtype="http://schema.org/WPFooter" class=" uk-visible@m uk-section uk-section-secondary uk-section-medium uk-padding-remove-bottom">
	<div itemscope itemtype="http://schema.org/ProfessionalService" class="uk-container uk-container-large">
		<div class="uk-grid uk-grid-divider uk-grid-large uk-margin-large-bottom" data-uk-grid="" data-uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 50; offset-top:0; repeat: false">
			<div class="uk-width-expand@m uk-width-1-2@s">
				<img alt="עזרא סיטון - תמונת פרופיל" itemprop="image" class="uk-border-circle" src="/assets/img/ezra-siton-profile-image/ezra-siton-profile-image-small.jpg">
				<a href="/{{ global.footer.language }}/"><h2 itemprop="name" class="uk-text-bold uk-margin-small">
					{{global.company_name}}
				</h2></a>
				<p itemprop="description" class="uk-margin-small uk-width-xlarge">
					{{global.footer.description}}
				</p>
				<h3 class="uk-margin-remove-bottom uk-margin-top uk-text-small">
					{{global.footer.social_heading}}
				</h3>

				<ul class="uk-subnav uk-subnav-divider">
					{{#each global.footer.social_networks}}
					<li class="uk-margin-small-bottom">
						<a itemprop="sameAs" target="_blank" href="{{this.url}}">{{this.heading}}</a>
					</li>
					{{/each}}
				</ul>
			</div>

			<!-- sitemap -->
			<div class="uk-width-expand@m uk-width-1-2@s">
				<h3 class="uk-h3">
					{{ global.footer.sitemap}}
				</h3>

				<nav id="footer_nav">
					<ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-3nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
						{{#each global.mainmenu.items}}
						<li {{{ternary is_parent 'class="uk-par3ent uk-3open"'}}}>
							<a itemprop="url" title="{{this.label}}" data-uk-tooltip="pos: left" {{{ternary new_window 'target="_blank"'}}}
							href="{{this.link}}">
							{{this.label}}
						</a>
						{{#if is_parent}}
						<ul class="uk-nav-sub">
							{{#each portfolio}}
							<li>
								<a title="{{this.label}}"  data-uk-tooltip="pos: left" href="{{this.link}}">
									{{this.label}}
								</a>
							</li>
							{{/each}}<!-- end each portfolio -->
						</ul>
						{{/if}}
					</li>
					{{/each}}
				</ul>
			</nav>



		</div>

		<div class="uk-width-expand@m uk-width-1-2@s">
			<h3 class="uk-h3">
				{{global.footer.contact_info.heading}}
			</h3>
			<ul class="uk-list uk-list-divider">
				<li>
					<h4 class="uk-margin-small-bottom"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 16 16" xml:space="preserve" width="13" height="13">
						<g class="nc-icon-wrapper" fill="#ffffff">
							<path fill="#ffffff" d="M8,0C4.1,0,1,3.1,1,7c0,1.9,0.7,3.7,2.1,5c0.1,0.1,4.1,3.7,4.2,3.8c0.4,0.3,1,0.3,1.3,0 c0.1-0.1,4.2-3.7,4.2-3.8c1.4-1.3,2.1-3.1,2.1-5C15,3.1,11.9,0,8,0z M8,9C6.9,9,6,8.1,6,7s0.9-2,2-2c1.1,0,2,0.9,2,2S9.1,9,8,9z"></path>
						</g>
					</svg>
					{{global.footer.contact_info.address.heading}}
				</h4>
				<address class="uk-margin-remove" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<strong itemprop="name">{{global.footer.contact_info.address.name}}</strong> -
					<span itemprop="streetAddress">
						{{global.footer.contact_info.address.streetAddress}}
					</span>,
					<span itemprop="addressLocality">
						{{global.footer.contact_info.address.city}}
					</span>,
					<span itemprop="postalCode">
						{{global.footer.contact_info.address.postalCode}}
					</span>.
					<span itemscope itemtype="http://schema.org/Place">
						<a class="uk-link" title="{{global.footer.contact_info.address.googleMap_btn_text}}" itemprop="hasMap" href="{{global.footer.contact_info.address.googleMap_href}}" target="_blank">
							{{global.footer.contact_info.address.googleMap_btn_text}}
						</a>
					</span>
				</address>
				<div itemtype="http://schema.org/GeoCoordinates" itemscope="" itemprop="geo">
					<meta itemprop="latitude" content="{{global.footer.contact_info.address.latitude}}" />
					<meta itemprop="longitude" content="{{global.footer.contact_info.address.longitude}}" />
				</div>
			</li>
			<li>
				<h4 class="uk-margin-remove-top uk-margin-remove-bottom">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve" width="13" height="13"><g class="nc-icon-wrapper" fill="#ffffff"><path fill="#ffffff" d="M12,0C5.383,0,0,5.383,0,12s5.383,12,12,12s12-5.383,12-12S18.617,0,12,0z M19,13h-8V5h2v6h6V13z"></path></g></svg>
					{{global.footer.contact_info.opening_hours.heading}}
				</h4>
				<p class="uk-margin-small">
					<span itemprop="openingHours" content="Mo,Tu,We,Th,Fr 09:00-18:00">
						{{global.footer.contact_info.opening_hours.hours}}
					</span>
				</p>
			</li>
			<li>
				<h4 class="uk-margin-small-bottom"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 16 16" xml:space="preserve" width="13" height="13">
					<g class="nc-icon-wrapper" fill="#ffffff">
						<path fill="#ffffff" d="M15.285,12.305l-2.578-2.594c-0.39-0.393-1.025-0.393-1.416-0.002L9,12L4,7l2.294-2.294 c0.39-0.39,0.391-1.023,0.001-1.414l-2.58-2.584C3.324,0.317,2.691,0.317,2.3,0.708L0.004,3.003L0,3c0,7.18,5.82,13,13,13 l2.283-2.283C15.673,13.327,15.674,12.696,15.285,12.305z"></path>
						<path data-color="color-2" fill="#ffffff" d="M16,8h-2c0-3.309-2.691-6-6-6V0C12.411,0,16,3.589,16,8z"></path>
						<path data-color="color-2" fill="#ffffff" d="M12,8h-2c0-1.103-0.897-2-2-2V4C10.206,4,12,5.794,12,8z"></path>
					</g>
				</svg>
				{{global.footer.contact_info.phone.heading}}
			</h4>
			<a href="tel:	{{global.footer.contact_info.phone.number}}" class="uk-margin"><span itemprop="telephone">{{global.footer.contact_info.phone.number}}</span></a>
		</li>
		<li>
			<h4 class="uk-margin-small-bottom"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 16 16" xml:space="preserve" width="13" height="13">
				<g class="nc-icon-wrapper" fill="#ffffff">
					<path data-color="color-2" fill="#ffffff" d="M15,1H1C0.4,1,0,1.4,0,2v1.4l8,4.5l8-4.4V2C16,1.4,15.6,1,15,1z"></path>
					<path fill="#ffffff" d="M7.5,9.9L0,5.7V14c0,0.6,0.4,1,1,1h14c0.6,0,1-0.4,1-1V5.7L8.5,9.9C8.22,10.04,7.78,10.04,7.5,9.9z"></path>
				</g>
			</svg>
			{{global.footer.contact_info.email.heading}}
		</h4>
		<!-- Target -->
		<a id="email" class="uk-display-inline-block" itemprop="email" href="mailto:{{global.footer.contact_info.email.address}}">{{global.footer.contact_info.email.address}}</a>
		<!-- Trigger -->
		<button id="email-copy-btn" class="uk-button uk-button-primary uk-button-small uk-margin-small-right uk-margin-left" data-clipboard-target="#email">
			{{global.footer.contact_info.email.copy_btn}}
		</button>
		<div>&nbsp;<span class="copied">{{global.footer.contact_info.email.copied}}</span></div>
	</li>
</ul>
</div>
</div>
<!-- END grid -->
<!-- LOGOS -->
<a class="uk-link-reset" href="https://www.endurojs.com/" target="_blank">
	<img src="/assets/img/webdesign/logos/enduro-nodejs-cms.png" alt="Enduro.js CMS logo">
</a>&nbsp;
<a class="uk-link-reset" href="https://getuikit.com/" target="_blank" style="direction: ltr;">
	<div class="uk-display-inline-block" style="direction: ltr;">
		<img src="/assets/img/webdesign/logos/uikit-logo-white.svg" alt="לוגו של הפריימוורק לבניית אתרים - uiKit">
		<span> UIkit</span>
	</div>
</a>
<div class="">
	<p class="uk-text-center uk-text-small">
		{{{global.footer.copyrights.text}}}
	</p>
</div>
</div><!--end conatiner -->
<!-- UP BTN -->
<div title="TOP" data-uk-tooltip="pos: top-center">
	<a href="#" data-uk-scroll="">
		<div class="uk-section uk-section-primary uk-section-small uk-text-center">
			<div class="uk-button uk-button-default uk-button-large uk-icon">
				{{global.footer.back_to_top_title}}
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 24 24" xml:space="preserve" width="24" height="24">
					<g class="nc-icon-wrapper" fill="#ffffff">
						<line data-cap="butt" data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" x1="12" y1="22" x2="12" y2="2" stroke-linejoin="miter" stroke-linecap="butt"></line>
						<polyline fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="5,9 12,2 19,9 " stroke-linejoin="miter"></polyline>
					</g>
				</svg>
			</div>
		</div>
	</a>
</div>
</footer>
<!-- MOBILE FOOTER -->
<footer id="mobile-footer" class="uk-hidden@m uk-light uk-padding-small uk-section-secondary">
	<div class=" uk-margin-auto uk-flex uk-flex-center">
		<!-- Mobile menu - less links! -->
		<ul class="uk-subnav uk-subnav-divider" data-uk-margin="">
			<li class="uk-active">
				<a href="/">בית</a>
			</li>
			<li>
				<a href="/about">אודות</a>
			</li>
			<li>
				<a href="/portfolio">תיק עבודות</a>
			</li>
			<li>
				<a href="/contact">צור קשר</a>
			</li>
		</ul>
	</div>
	<!-- TOP BTN -->
	<div title="TOP" data-uk-tooltip="pos: top-center">
		<a href="#" data-uk-scroll="">
			<div class="uk-section uk-section-secondary uk-section-small uk-text-center">
				<div class="uk-button uk-button-default uk-button-large uk-icon">
					{{global.footer.back_to_top_title}}
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 24 24" xml:space="preserve" width="24" height="24">
						<g class="nc-icon-wrapper" fill="#ffffff">
							<line data-cap="butt" data-color="color-2" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" x1="12" y1="22" x2="12" y2="2" stroke-linejoin="miter" stroke-linecap="butt"></line>
							<polyline fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="5,9 12,2 19,9 " stroke-linejoin="miter"></polyline>
						</g>
					</svg>
				</div>
			</div>
		</a>
	</div>
	<!-- copyrights -->
	<p class="uk-text-center uk-text-small uk-hidden@m uk-margin-remove"><small>
		&copy;
		כל הזכויות ל-<a  title="עזרא סיטון" href="/{{ global.footer.language }}/">עזרא סיטון</a>
		,
		2018</small></p>
	</footer>
	<!-- /end FOOTER -->
