<!-- NAV -->
<nav  class="tm-header-transparent2" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="uk-navbar-container uk-navbar-transparent" data-uk-sticky2="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-light; cls-inactive: uk-navbar-transparent2 uk-dark; top: 200; show-on-up: false" style="background: white;">
		<div class="uk-container uk-container-large">
			<div class="uk-navbar" data-uk-navbar="dropbar:true; mode: click; delay-hide: 500">
				<!--LOGO -->
				<a title="{{global.breadcrumbs_back_to_main}}" class="uk-navbar-item uk-logo  uk-visible@m uk-margin-{{global.left_on_rtl_right_on_ltr}} uk-text-primary" href="/{{ global.language }}/">
					<span class="">
						{{global.company_name}}
					</span>
				</a>
				<!-- NAV PART I -->
				<div class="uk-navbar-center uk-margin-small-{{global.right_on_rtl_left_on_ltr}}">
					<ul id="nav-desktop" class="uk-navbar-nav uk-visible@m">
						{{#each global.mainmenu.items}}
						<li>
							<a itemprop="url" title="{{this.label}}" {{{ternary new_window 'target="_blank"'}}}
							href="{{this.link}}">
							{{this.label}}
							{{#if is_parent}}
							<svg class="uk-margin-small-right uk-margin-small-left" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 16" xml:space="preserve" width="8" height="8"><g class="nc-icon-wrapper" fill="#1e87f0"><path fill="#1e87f0" d="M8,12c-0.232,0-0.463-0.08-0.651-0.241l-7.759-6.65L0.892,3.59L8,9.683l7.108-6.093l1.302,1.519l-7.759,6.65 C8.463,11.92,8.232,12,8,12z"></path></g>
							</svg>
							{{/if}}
						</a>
						{{#if is_parent}}
						<div class="uk-navbar-dropdown uk-padding-remove-top">
							<ul class="uk-nav uk-navbar-dropdown-nav uk-visible@m">
								{{#each portfolio}}
								<li>
									<a href="{{this.link}}">
										{{this.label}}
									</a>
								</li>
								{{/each}}<!-- end each portfolio -->
							</ul>
						</div>
						{{/if}}
					</li>
					{{/each}}
				</ul>
			</div>

			<!-- side selecr: r/l/center -->
			<div class="uk-navbar-{{global.left_on_rtl_right_on_ltr}} uk-visible@m">
				<ul class="uk-navbar-nav ">
					<li>
						<a id="heb-button" href="/he">עברית</a>
					</li>
					<li>
						<a id="en-button" href="/en">English</a>
					</li>
				</ul>
			</div>
			<!-- toogle icon visible only on phones -->
			<div class="uk-navbar-right  uk-hidden@m" style="direction: rtl;">
				<a class="uk-navbar-toggle" href="#" data-uk-toggle="target:#offcanvas-nav-primary">
					<span data-uk-navbar-toggle-icon></span>
					<span class="uk-margin-small-right">
						&nbsp; {{global.menu}}
					</span>
				</a>
			</div>
			<div class="uk-navbar-left uk-hidden@m uk-position-absolute uk-position-left">
				<a class="uk-navbar-item uk-logo" href="/{{ global.language }}/">{{global.company_name}}</a>
			</div>
		</div>
	</div>
</div>
</nav>
