
<!-- OFF CANVAS -->
<nav  itemscope itemtype="http://schema.org/SiteNavigationElement">
	<!--off-canvas btn show only on mobile -->
	<div id="offcanvas-nav-primary" data-uk-offcanvas="overlay: true; mode: slide; flip: false">
		<div class="uk-offcanvas-bar uk-flex uk-flex-column">
			<!-- navbar content her -->

			<div>
				<img style="width:auto;" alt="{{global.company_name}}" itemprop="image" class="uk-border-circle" src="/assets/img/ezra-siton-profile-image/ezra-siton-profile-image-small.jpg">
			</div>

			<!-- A - logo -->
			<a class=" uk-logo uk-margin-small-top" href="/{{ global.language }}/">{{global.company_name}}</a>
			<!-- B - nav -->


			<ul id="nav-mobile" class="uk-nav uk-nav-default uk-margin-top uk-nav-parent-icon" data-uk-nav role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
				{{#each global.mainmenu.items}}
				<li {{{ternary is_parent 'class="uk-parent uk-open"'}}}>
					<a itemprop="url" title="{{this.label}}" data-uk-tooltip="pos: left" {{{ternary new_window 'target="_blank"'}}}
					href="{{this.link}}">
					{{this.label}}
				</a>
				{{#if is_parent}}
				<ul class="uk-nav-sub">
					{{#each portfolio}}
					<li>
						<a title="{{this.label}}"  data-uk-tooltip="pos: left" href="{{this.link}}">
							- {{this.label}}
						</a>
					</li>
					{{/each}}<!-- end each portfolio -->
				</ul>
				{{/if}}
			</li>
			{{/each}}
		</ul>

		<ul class="uk-nav uk-nav-default uk-margin-top">
			<li class="uk-nav-divider"></li>
			<li>
				<a id="heb-button" href="/he">עברית</a>
			</li>
			<li>
				<a id="en-button" href="/en">English</a>
			</li>
		</ul>

		<!--contact us -->
		<div class="uk-margin-large-top">
			<hr>
			<svg style="opacity: 0.7;" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewbox="0 0 48 48">
				<g class="nc-icon-wrapper" fill="#ffffff">
					<path d="M31 2H15c-2.76 0-5 2.24-5 5v34c0 2.76 2.24 5 5 5h16c2.76 0 5-2.24 5-5V7c0-2.76-2.24-5-5-5zm-8 42c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm9-8H14V8h18v28z"></path>
				</g>
			</svg>
			&nbsp;
			{{global.phone.heading}}:
			<a href="{{global.phone.number}}" class="uk-link-text">
				{{global.phone.number}}
			</a>
		</div>
	</div>
</div>
</nav>
