{{>head}}
<!--plugins-->
{{>fancybox-css}}
{{>swiper-css}}
{{>vegas-css}}
</head>
<body>
	{{#>body}}
	<div style="min-height: 100vh;">
		{{>inside_header}}
22222222222
		<!-- Breadcrumb -->
		<nav class="uk-container uk-container-large uk-margin-bottom" itemprop="breadcrumb">
			<ol itemscope itemtype="http://schema.org/BreadcrumbList" class="uk-breadcrumb uk-margin-small-top">
				<li itemprop="itemListElement" itemscope	itemtype="http://schema.org/ListItem">
					<a itemscope itemtype="http://schema.org/Thing" itemprop="item"  href="../{{global.language}}" data-uk-tooltip="pos: bottom" title="{{global.breadcrumbs_back_to_main}}">
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 24 24">
							<g class="nc-icon-wrapper" fill="#999999">
								<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"></path>
							</g>
						</svg>
						<span itemprop="name">{{global.home_label_name}}</span>
					</a>
					<meta itemprop="position" content="1" />
				</li>
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="../{{global.language}}/{{seo.page_name}}">
						<span itemprop="name">
							{{seo.title}}
						</span>
					</a>
					<meta itemprop="position" content="2" />
				</li>
			</ol>
		</nav>

		<main id="main" class="uk-container uk-container-large uk-margin-large-bottom" style="padding-top: 40px; margin-top: -40px;">
			<div class="uk-section">
				{{#services}}
				{{#each this}}
				<article>
					<h2>{{services_entry.title}}</h2>
					<p>2</p>
					<a href="/services/{{page_slug}}">Read more...</a>
				</article>
				{{/each}}
				{{/services}}
			</div>
		</main>
	</div>
	<!-- footer -->
	{{>footer}}
	<!-- scripts -->
	{{>uikit}}

	<!-- initialize -->
	<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {

	});

	</script>
	{{/body}}<!-- הסוגר של זה בטמפלט של בודי -->
